%hoverli { 
    transform: scale(1.2);
   
 }
 %hoverbboot{ 
 color:$hoverespecifico;
 background-color:$bgboton;  
 }

 %hoverboton{ 
    color:$colortext;
    background-color:$bgboton;  
    }
    
