//colores//
$colortext: #8D4F2A;;
$textsecun:#ffffff;
$bgbutton:#541f08;
$textbuttonhover:#541f08;
$textbutton:white;
$bgboton:#eeddd0;
$hoverespecifico:#541f08;
$textespecifico:#541f08;
$logohover:#9c5726;
//tamaño//
$size:23px; 
$size2:18px;
$size3:15px;
$pading:10px;
$top:10px;
$font:italic;
$bord:none;
$lstyle:none;
$fw:bolder;
$bora:5px;
$marbot:30px;
$Width:100%;
$top2:0px;
$martop:30px;
$bot:20px;
$bora2:7px;
$borgrid:1.5rem;
$height:100vh;
